<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
    <link rel = "stylesheet" href="{% static 'reg_style.css' %}" >
</head>
<body>
    <h2>User Registration</h2>
    <form method="post">
        {% csrf_token %}
        <div>
            <label for="id_username">Username:</label>
            {{ form.username }}
        </div>
        <div>
            <label for="id_email">Email:</label>
            {{ form.email }}
        </div>
        <div>
            <label for="id_password">Password:</label>
            {{ form.password }}
        </div>
        <div>
            <label for="id_confirm_password">Confirm Password:</label>
            {{ form.confirm_password }}
        </div>
        <button type="submit">Register</button>
    </form>
    
</body>
</html>
